*{
	font-family: Garamond
}


/* ---------------------------- HEADER-----*/
header{
	background-color: #FFECEC;



	
}
header li{
	list-style: none;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	padding: 7px;
	color:white;
	background: #424242;
	color:white;

}

header li A{
	color:#F5A9F2;
}
/* ----------------------------------HERO----*/
.hero{
	height: 400px;
	background:url(../images/fondo.jpg);
	background-size: cover;
	color:white;
	text-align: center;
	font-family: 'Lobster Two', cursive;
	font-family: 'Righteous', cursive;	
	font-family: 'Sacramento', cursive;

}
.hero h1,h2{
	position: relative;
	top: 30%;
	font-size: 70px
}
.hero img{
	position: absolute;
	top:20%;
	left: 50%
}
/* -------------------------- BIOGRAFIA-----*/
.bio{
	background-image: url(../images/confectionary.png);
	text-align: center;
	padding-top: 30px;


}

.bio p{
	text-align: justify;
	font-size: 17px
}
.bio img{
	border-radius: 50%;
	border-style:groove;
	position: relative;
	z-index: 3;
	top: -70px

}
.bio img:hover{
-ms-transform: rotate(-400deg);
transform: rotate(-400deg);
-webkit-transition: all 1s ease-out;
-ms-transition: all 1s ease;
height: 250px;
width: 250px;

}



/* ----------------------------FAVORITOS-----*/
.favoritos img{
	width: 70%;
	border-radius:200px;
	margin-top: 30px

}
.favoritos {
	text-align: center
}
 .favoritos div{
 	margin-bottom: 50px
 }
 .favoritos h2{
 	margin-top: 100px
 }

/* ----------------------------CONTACTOS-----*/
h3{
	text-align: center;
	padding-top: 30px;

}
h3.uno{
	margin-top: 50px;
	padding: 30px auto
}

footer li{
	list-style: none;
	display: inline-block;
	position: relative;
	left: 40%;
	

}